body {
  line-height: 1.6;
  color: #fff;
  background: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.stop {
  overflow: hidden;
}

#page {
  position: relative;
  transition: 1s all ease-in-out;
}

#board {
  display: flex;
  flex-direction: column;
}

#page.menuopen {
  opacity: 0.6;
  filter: blur(20px);
  transform: scale(1.2);
}

section {
  display: flex;
  min-height: 100vh;
  padding: 50px;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #fff;
  position: relative;
}

section:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}

section h1 {
  font-size: 120px;
  margin: 0;
  z-index: 2;
  position: relative;
  line-height: 85%;
}

section p {
  color: white;
  position: relative;
  z-index: 2;
}

#myHeader {
  background-image: url(./assets/mal2.png);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */
}

/* Add this CSS to your head section */
#future ul {
  list-style-type: none;
  /* Removes bullets */
  padding: 0;
}

#future ul li a {
  font-size: 1.5em;
  /* Makes the text larger */
  color: #000;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
  /* Gives a glass-like appearance */
  border-radius: 10px;
  padding: 10px;
  transition: background 0.5s;
}

#future ul li a:hover {
  background: rgba(255, 255, 255, 0.3);
  /* Changes background on hover */
}

.glass-image {
  opacity: 0.8;
  /* Make the image a bit transparent */
}

header {
  z-index: 99999;
  position: relative;
}

header #logo {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  width: 100px;
  height: auto;
  margin: 0 auto;
  opacity: 1;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

header nav {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
  top: 120px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
  z-index: 9;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  display: block;
  padding: 10px 20px;
  line-height: 1;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: lowercase;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

header nav button {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 99;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transform: scale(0);
}

header nav button span {
  width: 40%;
  background: #fff;
  height: 2px;
  display: block;
  margin: 5px auto;
  transform: scalex(0);
  transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
    0.3s margin ease-in 0s;
}

header nav button:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

header nav button:hover span {
  margin: 10px auto;
}

header.sticky #logo {
  top: 0;
  transform: scale(0.8);
  opacity: 0;
  transition-delay: 0.5s;
}

header.sticky nav {
  top: 20px;
  padding: 0;
  width: 90px;
  height: 90px;
  transition-delay: 0.5s;
}

header.sticky nav button {
  transform: scale(1);
  transition-delay: 0.6s;
}

header.sticky nav button span {
  transform: scalex(1);
  transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s,
    0.3s margin ease-in 0s;
}

header.sticky nav a {
  padding: 0;
  opacity: 0;
  letter-spacing: 0px;
  transform: scale(0.3);
  transition-delay: 0.2s;
}

#myHeader {
  position: relative;
  background-image: url("https://images.pexels.com/photos/3101527/pexels-photo-3101527.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

#myHeader::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.935);
  /* golden color with 50% opacity */
  backdrop-filter: blur(6px);
  /* blur effect */
}

p {
  color: #ffffff;
  font-weight: bold;
}

#fixedlink {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  right: 0;
  left: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px;
}

#vision,
#future,
#space,
#knowledge {
  margin: 20px;
  padding: 50px;
}

#knowledge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  /* Gives a glass-like appearance */
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  z-index: 30;
}

#whatMA {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  /* Gives a glass-like appearance */
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  z-index: 30;
  margin: 20px;
  padding: 100px;
  background-image: url(https://i.gifer.com/3M27.gif);
  background-attachment: fixed; /* Add this line */
  background-position: center; /* Add this line */
  background-repeat: no-repeat; /* Add this line */
  background-size: cover; /* Change this line */
  object-fit: contain;
}

#whatMA::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* white overlay with 50% opacity */
  z-index: -10;
}

#whatMA p {
  font-weight: 300;
  font-size: 32px;
}

#vision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  /* Gives a glass-like appearance */
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  z-index: 30;
}

#future {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  /* Gives a glass-like appearance */
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 30;
}

#space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  /* Gives a glass-like appearance */
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 30;
}

#space h1 {
  margin-bottom: 20px;
}

#space ul {
  list-style-type: none;
  /* Removes bullets */
  padding: 0;
}

#space ul li a {
  font-size: 1.2em;
  /* Adjusts the text size */
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s;
  z-index: 30;
}

#space ul li a:hover {
  color: #555;
  /* Changes text color on hover */
}

#vision {
  position: relative;
  z-index: 1;
  background-image: url("https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg");
}

#what-is-ma {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.superSlide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

.superSlide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.679);
  z-index: -2;
}

.innerText {
  max-width: 700px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-align: left;
}

/*BOTTOM PADS*/

#vision {
  padding-bottom: 200px;
}

/*CONTACT PAGE*/

#contact__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 30;
}

#contact__section button {
  position: relative;
  z-index: 30;
}

.contact__header-logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.mc-field-group,
mce-responses {
  position: relative;
  z-index: 30;
}

.topMain__container {
  width: 100%;
  position: fixed;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(60px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.topLeft__container img {
  width: 120px;
  height: auto;
}

.topTop__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.topLeft__container,
.topRight__container {
  display: flex;
  justify-content: center;
  height: 50px; /* Set the height */
  overflow: hidden; /* Hide the overflow */
}

.topLeft__container {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topRight__container {
  justify-content: flex-end;
  width: 600px;
  padding-right: 10px;
}

.topRight__menu a {
  display: inline-block;
  margin: 10px;
  padding: 2.5px 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.098);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.topRight__menu a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.topBottom__container-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.topBottom__container-menu a {
  margin: 10px;
}

.topBottom__container-menu button {
  position: relative;
  background: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  overflow: hidden;
}

.topBottom__container-menu button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);

  z-index: -1;
  animation: pulse;
}

.topBottom__container-menu button:hover {
  color: black;
  background-color: white;
}

.topBottom__container-menu button:hover::before {
  transform: scaleX(1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
