#about-splash {
    width: 100%;
    height: 20vh !important;
    background-image: url('https://via.placeholder.com/1920x1080');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff9393;
    font-size: 32px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.sub-nav {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px 0;
    width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sub-nav .sub-header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px;
}

.sub-nav .sub-header-nav a {
    text-decoration: none;
}

.sub-nav .sub-header-nav a button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sub-nav .sub-header-nav a button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
}


#sub-heading-0 {
    text-align: center;
    /* Adjust the font size as needed */
    color: #007bff;
    /* Adjust the color as needed */
    font-weight: bold;
    font-size: 300px !important;
    margin: 40px 0;
    /* Adds space above and below the section */
    font-family: 'Barlow', sans-serif;
    /* Adjust the font family as needed */
    background-color: rgba(255, 255, 255, 0.8);
    /* Optional: Adds a background color */
    padding: 20px;
    /* Optional: Adds padding inside the section */
    border-radius: 10px;
    /* Optional: Rounds the corners */
    max-width: 80%;
    /* Optional: Restricts the maximum width */
    margin-left: auto;
    /* Centers the section horizontally */
    margin-right: auto;
    /* Centers the section horizontally */
}

#sub-heading-0 h1,
h2 {
    font-size: 92px;
    line-height: 95%;

}