.article-main {
    max-width: 800px;
    margin: auto;
    font-family: 'Georgia', serif;
}

.article-header h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.article-meta {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.read-time {
    font-style: italic;
    margin-right: 1em;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.article-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* Add this to ensure images within paragraphs are nicely wrapped */
p img.article-image {
    float: left;
    /* Align image to the left */
    margin-right: 20px;
    /* Add some space between the text and the image */
    margin-bottom: 10px;
    /* Add some space below the image */
}

.dynamic-display {
    margin-bottom: 3em;
}

.dynamic-display h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

p {
    line-height: 1.6;
    text-align: justify;
}