.article-main {
    max-width: 800px;
    margin: auto;
    font-family: 'Georgia', serif;
}

.article-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 2px solid #e2e2e2;
}

.article-header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.article-meta {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: #666;
}

.article-meta>span,
.article-meta .author-info,
.article-meta .social-share {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.author-info {
    gap: 10px;
}

.author-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.social-share {
    margin-left: auto;
    gap: 10px;
}

.social-link {
    text-decoration: none;
    color: #666;
    transition: color 0.3s;
}

.social-link:hover {
    color: #333;
}

.read-time {
    font-style: italic;
    margin-right: 1em;
}

.article-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* Add this to ensure images within paragraphs are nicely wrapped */
p img.article-image {
    float: left;
    /* Align image to the left */
    margin-right: 20px;
    /* Add some space between the text and the image */
    margin-bottom: 10px;
    /* Add some space below the image */
}

.dynamic-display {
    margin-bottom: 3em;
}

.dynamic-display h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

p {
    line-height: 1.6;
    text-align: justify;
}