.media-container {
    padding: 20px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

.media-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers the videos */
    width: 100%;
    /* Takes full width */
}

.media-item {
    width: 100%;
    /* Each item takes full width */
    margin-bottom: 20px;
    /* Adds space between videos */
}

.media-item {
    transition: transform 0.3s ease;
}

.media-item:hover {
    transform: scale(1.05);
}

.media-link {
    text-decoration: none;
    color: white;
}

.media-link img {
    width: 100%;
    border-radius: 8px;
}

.media-link p {
    text-align: center;
    margin-top: 8px;
}