.media-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers the videos vertically */
    justify-content: center;
    /* Centers the container horizontally */
    width: 100%;
    /* Takes full width */
    max-width: 560px;
    /* Maximum width of the media items */
    margin: 0 auto;
    /* Centers the .media-list horizontally */
}

.media-item {
    width: 100%;
    /* Each item takes full width */
    margin-bottom: 20px;
    /* Adds space between videos */
}

.media-item:hover {
    transform: scale(1.05);
    /* Scales up the video on hover */
}

.media-link {
    text-decoration: none;
    color: white;
}

.media-link img {
    width: 100%;
    border-radius: 8px;
}

.media-link p {
    text-align: center;
    margin-top: 8px;
}