html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.parallax {
    /* The image used */
    background-image: url("");
    /* This will be set via JavaScript */

    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}