@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    color: #333;
}

#navbar-a {
    position: sticky;
    top: 0;
    left: 0;
    width: 150px;
    background-color: #f9f9f9;
    padding: 20px;
    color: #333;
    font-size: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: auto;

    justify-content: center;
}

.navbar-a {
    display: none;
    /* Initially hide the navbar */
    flex-direction: column;
    background-color: #000000;
    padding: 10px;
    border: 1px solid #ddd;
}

#navbar-a a {

    color: #333;
    font-size: 1em;
    border-style: solid;
    margin: 2px;
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
    border-color: transparent;

}

#navbar a:hover {
    background-color: #000000;
    color: #ffffff;
}

.main-content {
    margin-left: 210px;
}

.additional-links {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: 10px auto;
    padding: 10px;
    background-color: #f9f9f923;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.051);
}

.additional-links a {
    color: #0645ad;
    text-decoration: none;
    padding: 4px 8px;
    margin: 2px 0;
    display: block;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.additional-links a:hover {
    background-color: #000000;
    color: #ffffff;
}

.resource-search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 5px;
    background-color: white;
    ;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.resource-search-container input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.resource-page-splash,
.resource-page-splash-super {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.resource-page-splash {
    height: 20vh;
    font-size: 30px;
}

.resource-page-splash-super {
    height: 70vh;
    flex-direction: column;
}

.resource-page-splash-super h1 {
    font-size: 3rem;
}

input[type="text"] {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    color: #333;
}