nav {
    background-color: white!important;
}

/* Style the hamburger icon */
.header {
    background-color: white;
}

#hamburger {
    display: inline-block;
    cursor: pointer;
    right: 0;
    padding: 10px;
    /* Adjust as needed */
    position: fixed;
    top: 0;
    z-index: 100;
}

#logo {
    left: 0;
    padding: 10px;
    /* Adjust as needed */
    position: fixed;
    top: 0;
    z-index: 100;
}


.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.fixed-top-right {
    position: fixed;
    top: 0;
    z-index: 1000;
    /* Ensures it stays above other content */
}

/* The Overlay */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    /* Adjust based on the height of the logo and hamburger */
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

/* Overlay content */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 20000;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
}